.line {
    fill: none;
    stroke: #00adee;
    stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.dot {
    fill: #00adee;
    stroke: #fff;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}
