// @import '~rc-time-picker/assets/index.css';

.schedule-container {
    width: calc(100% - 4rem)!important;
    height: calc(100% - 4rem)!important;
    margin: auto;
}

.react-calendar-container {
    background: white;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.rat-AvailableTimes_component {
    @extend .rat-AvailableTimes_component;
    position: absolute;
    height: 100%!important;
    width: 100%!important;
}
